	//========== properties ==========
#foreach($field in $java.fields) 

	private $field.clsName.getSimpleName() $field.name;

#end

    //========== getters and setters ==========
#foreach($field in $java.fields) 

	/**
	* Getter method for property <tt>$field.name</tt>.
	*
	* @return property value of $field.name
	*/
	public $field.clsName.getSimpleName() ${field.getMethodName}() {
		return $field.name;
	}
	
	/**
	* Setter method for property <tt>$field.name</tt>.
	* 
	* @param $field.name value to be assigned to property $field.name
	*/
	public void ${field.setMethodName}($field.clsName.getSimpleName() $field.name) {
		this.$field.name = $field.name;
	}
	
#end

