<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:/properties/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="defaultDataSource" class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="driverClassName" value="${prop.jdbc.default.driver}" />		
		<property name="url" value="${prop.jdbc.default.url}" />
		<property name="username" value="${prop.jdbc.default.username}" />
		<property name="password" value="${prop.jdbc.default.password}" />
			
		<property name="defaultAutoCommit" value="true" />
		<!-- READ_COMMITTED -->
		<property name="defaultTransactionIsolation" value="2" />		
		<!-- sizing the connection pool -->
		<property name="initialSize" value="10" />
		<property name="minIdle" value="5" />
		<property name="maxIdle" value="15" />
		<property name="maxActive" value="200" />
		<!-- in milliseconds -->
		<property name="maxWait" value="2000" />	
		<property name="testOnBorrow" value="true" />
		<property name="validationQuery" value="/* ping */ select 1" />
		<property name="validationInterval" value="30000" />		
		<property name="testWhileIdle" value="true" />
		<!-- in milliseconds, the sweeper runs every 60 seconds -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- in milliseconds, the connection will be closed if the idle time is larger than 5 minutes -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
	</bean>	
	
</beans>